body{
    background-image: url(1.jpeg);
    background-repeat: no-repeat;
    background-size:cover;  
}
h1{
    font-size:60px;
}
.image{
    margin-top: 10%;
    display:flex;
    justify-content:space-evenly;

}
img{
    opacity:0.85;

}
a:hover{
    width:320px;
    margin-top:-10px;
    height:220px;
    border-radius:25px;
    opacity: 1;
    box-shadow:10px 5px 5px rgb(118, 10, 226);
}